/* 
COLOR PALETTE
Light Grey: #f3f4f7
Medium Grey: #d2d7df
Dark Cyan: #369696
Vista Blue: #8BA4D0
Space Cadet: #2b2d42
*/

/* GLOBAL STYLES */

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
html, body {
    height: vh;
}
body {
    background: #f3f4f7;
    margin: 0;
}

/* Links */

a {
    color: #369696;
}
a:hover {
    color: #8BA4D0;
    text-decoration: none;
}
footer a {
    color: #8BA4D0;
}
footer a:hover {
    color: #369696;
}
.btn {
    background: #369696;
    color: #f3f4f7ff;
    text-decoration: none;
}
.btn:hover {
    color: #f3f4f7ff;
}

.content-wrapper {
    margin: 0 auto;
    padding: 30px;
    max-width: 1100px;
}

header::before {
    background: url(../images/joanna-kosinska-unsplash.jpg) center;
    background-size: cover;
    content: "";
    display: block;
    height: 300px;
}

/* HOME */

.home {
    background: url(../images/annie-spratt-unsplash.jpg) no-repeat;
    background-size: cover;
}
.home .content-wrapper {
    background: rgb(255 255 255 / 0.7);
}

/* About */

/* Projects */

.project-item {
    display: flow-root;
    margin: 30px 0;
}
.project-item img {
    width: 300px;
    float: left;
    margin-right: 20px;
}

/* Work Experience */

/* Education */

/* FOOTER */

footer {
    background: #2b2d42ff;
    color: #d2d7dfff;
}
.socials {
    list-style-type: none;
    padding: 0;
}
.socials img {
    width: 32px;
}
.socials li {
    display: inline-block;
}