/*
	Author: Alyssa Yochelson
	Date: 11/20/2020
*/
table {border-collapse: collapse; background-color: rgb(124, 151, 161); color: white; width: 100%}
table th, table td {border: 1px solid white; padding: 10px; line-height: 1.5; vertical-align: top}
table th {width: 100px}
.culture {line-height: 2}
.rates {text-indent: 12pt}

