/*
	Author: Alyssa Yochelson
	Date: 01/07/21
*/
.links {float: left; margin: 15px 15px 15px 15px}
.links a:link {color: black}
.links a:hover {color: gray}
.links a:visited {color: gray}
.email a:link {color: black}
.email a:hover {color: black}
.email a:visited {color: purple}

.body {margin-left: 220px}

body {background-color: rgb(245, 169, 183); font-family: Arial, Helvetica, sans-serif;}
h2.head {text-align: center; background-color: white; color: rgb(222, 64, 93); font-family: Arial, Helvetica, sans-serif}
.paragraph {line-height: 2}
.links a {background-color: white; margin: 5px; padding: 5px; width: 150px; display: block; text-decoration: none}
address.bottom {text-align: center; padding-bottom: 50px; border-top: 2px solid black; color: black}
table.hometable {margin: 10px 0px 10px 0px}

.catalog img {height: 300px; width: 280px}
.catalog th a:link {color: black}
.catalog th a:hover {color: black}
.catalog th a:visited {color: black}
.catalog th a {text-decoration: none}

.order img {height: 400px}
.order fieldset {border: 0px}

.charitybody img {float: right; margin: 0px 10px 10px 10px; padding: 0px 10px 10px 10px}
#charitybody a:link {color: purple}
#charitybody a:hover {color: gray}
#charitybody a:visited {color: purple}
#charitybody a {text-decoration: none}

.aboutbody img {float: left; margin: 0px 10px 10px 10px; padding: 0px 10px 10px 10px}
